body{
    background-color: black;
    margin: 0;
}

.header-page{display: flex;}

header {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    min-height: 150px;
    margin-left: 5em;
    margin-right: 5em;
    font-weight: bold;
    font-size: 35px;
}

.title{color: white;}
strong{color: yellow;}
.title:hover{
    color: red;
}

.menu {
    color: yellow;
    padding: 15px;
}

.menu:hover{
    background-color: yellow;
    color: black;
    border-radius: 5px;
}

main h2{
    font-weight: 600;
    font-size: 55px;
    margin: 20px;
}

img.fundo {
    min-width:100%;
    max-height: 800px;
    object-fit: cover;
}

figure{margin: 0; display: grid;}

a{text-decoration: none ;}

main section{
    color: white;
    font-size: 55px;
    text-align: center;
    display: grid;
    min-height: 300px;
    align-content: center;
    background-color:black;
background-image:
radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}

.navigational{ color: yellow; border-radius: 5px; padding: 20px;}
.navigational:hover{background-color: yellow; color: black; border-radius: 5px; padding: 20px;}

.product-img{
    width: 300px;
    height: 300px;
    margin: 40px;
}

.product-view{
    display: flex;
    max-height: 400px;
    border: double 5px white;
    margin: 30px;
    text-align: left;
}

.content{
    display: grid;
    grid-template-rows: min-content;
}

.content h2, .content h3,.content p,a {
    margin-bottom: 40px;
    margin-inline-start: 30px;
    color: white;
    text-decoration: none;
    margin-left: 0px;
}

.content p {
    line-height: 1.5;
    text-indent: 20px;
}

.content h2 {
    letter-spacing: 3px;
}

#London, #Italy {
    text-decoration: line-through;
}

.content h3 a{background-color: black; color: yellow; border-radius: 5px; padding: 20px;}
.content h2 a:hover{color: #FF5500;}
.content h3 a:hover{background-color: yellow; color: black; border-radius: 5px;padding: 20px;}
.content p,.content h3{font-family:Verdana, Geneva, Tahoma, sans-serif; font-size: 20px; margin-inline-end: 3em;}

#page-content{
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    font-size: 20px;
    color: white;
    text-align: center;
}