.exemplo{
    background-color: black;
    width: 200px;
    height: 200px;
    border: 30px solid;
    margin: 50px auto;
    color: white;
    font-size: 55px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
}

#exemplo-1{
    border-image: linear-gradient(aqua, yellow) 40 / 10px / 30px repeat;
    background-image: url('https://cdn.pixabay.com/photo/2016/07/17/01/53/background-1523105_960_720.jpg');
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
}

#exemplo-2{
    border-image-source: linear-gradient(red, pink);
    border-image-slice: 50;
    border-image-outset: 30px;
    background-image: linear-gradient(red, pink);
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
}