
body{
    background-color: black;
}

section p{
    color: black;
    text-align: center;
}

@font-face {
    font-family: quicksand;
    src: url('fonts/Quicksandt.ttf');
}

*{
    font-family: quicksand;
}

a {text-decoration: none; color: white;}

.exemplo{
    background-color: black;
    width: 200px;
    height: 200px;
    border: 30px solid;
    margin: 50px auto;
    color: white;
    font-size: 55px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
}

#elemento-pai{
    box-sizing: border-box;
    height: 800px;
    padding: 30px;
    position: relative;
}

#exemplo-1{
    border-image: linear-gradient(aqua, yellow) 40 / 10px / 40px repeat;
    background-image: url('https://cdn.pixabay.com/photo/2016/07/17/01/53/background-1523105_960_720.jpg');
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
}

#exemplo-2{
    border-image: linear-gradient(red, pink) 50  / 20px /  30px;
    background-image: linear-gradient(red, pink);
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
    position: absolute;
    top: 150px;
    right: 300px;
}

#pre-definidas {
    color: darkturquoise;
    font-size: xx-small;
}

#pre-definidas:hover{
    background-color: darkturquoise;
    color: black;
}

#current-color {
    color: greenyellow;
    border: 5px solid currentcolor;
    font-size: x-small;;
}

#current-color:hover{
    background-color: greenyellow;
    color: black;
    padding: 5px;
}

#hex{
    color: #FF5500;
    font-size: small;
}

#hex:hover{
    color: black;
    background-color: #FF5500;
}

#hex-transparencia{
    color: #698920FF;
    font-size: medium;
}

#hex-transparencia:hover{
    background-color: #69892050;
    color: wheat;
}

#rgb {
    color: rgb(70, 155, 50 );
    background-color: rgb(0, 255, 0);
    font-size: large;
}

#rgb:hover{
    color: wheat;
    background-color: rgb(70, 155, 50 );
}

#rgba{
    color: rgba(190, 50, 250, 1.0);
    font-size: x-large;
}

#rgba:hover{
    color: wheat;
    background-color: rgba(190, 50, 250, 0.5);
}

#hsl{
    color: hsl(180, 90%, 50%);
    font-size: xx-large;
}

#hsl:hover{
    color: black;
    background-color: hsl(180, 90%, 50%);
}

#hsla{
    color: hsla(240, 50%, 50%, 0.8);
    font-size: xx-large;
}

#hsla:hover{
    color: hsla(240, 50%, 50%, 1.0);
    background-color: hsla(240, 50%, 50%, 0.4);
}

.post-it {
    display: flex;
    background-color: white;
}

.text {
    font-weight: 900;
    margin: 20px;
    width: 300px;
    height: 300px;
    padding: 20px;
    background-color: pink;
    color: black;
    word-wrap: break-word;
    white-space: pre-wrap;
    box-shadow: 30px 10px 10px rgb(66, 63, 63);
    overflow: auto;
    text-shadow: 10px 10px 10px black;
    font-size: medium;
    position: sticky;
    top: 0;
}

img{
    width: 500px;
    height: 300px;
    filter: drop-shadow(20px 20px 10px grey);
}

.white-background {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    text-indent: 5px;
    align-content: center;
    text-align: center;
}

header nav ul li{
    display: flex;
}

#container-02{
    background-color: navajowhite;
    height: 300px;
    width: 300px;
    margin: 20px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
}

#container-01{
    display: flex;
    flex-direction: row;
}

.item{
    text-align: center;
    flex: 1;
}

.item-01{
    align-self: stretch;
}

.menu {
    padding: 10px;
    margin: 5px;
    background-color: #FF5500;
    color: white;
}
.menu:hover{
    background-color: white;
    color: #FF5500;
    border-bottom: #FF5500 5px solid;
}