body{
    background-color: black;
}

section p{
    color: white;
    font-size: 55px;
    text-align: center;
    align-content: center;
}

@font-face {
    font-family: quicksand;
    src: url('fonts/Quicksandt.ttf');
}

*{
    font-family: quicksand;
}

a {text-decoration: none; color: white;}

.exemplo{
    background-color: black;
    width: 200px;
    height: 200px;
    border: 30px solid;
    margin: 50px auto;
    color: white;
    font-variant: small-caps;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
}

#exemplo-1{
    border-image: linear-gradient(aqua, yellow) 40 / 10px / 40px repeat;
    background-image: url('https://cdn.pixabay.com/photo/2016/07/17/01/53/background-1523105_960_720.jpg');
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
}

#exemplo-2{
    border-image: linear-gradient(red, pink) 50  / 20px /  30px;
    background-image: linear-gradient(red, pink);
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
}

#pre-definidas {
    color: darkturquoise;
    font-size: xx-small;
}

#pre-definidas:hover{
    background-color: darkturquoise;
    color: black;
}

#current-color {
    color: greenyellow;
    border: 5px solid currentcolor;
    font-size: x-small;;
}

#current-color:hover{
    background-color: greenyellow;
    color: black;
    padding: 5px;
}

#hex{
    color: #FF5500;
    font-size: small;
}

#hex:hover{
    color: black;
    background-color: #FF5500;
}

#hex-transparencia{
    color: #698920FF;
    font-size: medium;
}

#hex-transparencia:hover{
    background-color: #69892050;
    color: wheat;
}

#rgb {
    color: rgb(70, 155, 50 );
    background-color: rgb(0, 255, 0);
    font-size: large;
}

#rgb:hover{
    color: wheat;
    background-color: rgb(70, 155, 50 );
}

#rgba{
    color: rgba(190, 50, 250, 1.0);
    font-size: x-large;
}

#rgba:hover{
    color: wheat;
    background-color: rgba(190, 50, 250, 0.5);
}

#hsl{
    color: hsl(180, 90%, 50%);
    font-size: xx-large;
}

#hsl:hover{
    color: black;
    background-color: hsl(180, 90%, 50%);
}

#hsla{
    color: hsla(240, 50%, 50%, 0.8);
}

#hsla:hover{
    color: hsla(240, 50%, 50%, 1.0);
    background-color: hsla(240, 50%, 50%, 0.4);
}