body{
    background-color: black;
    margin: 0;
}
.title{color: white;}
strong{color: yellow;}

.menu {
    color: yellow;
    padding: 15px;
}

.title:hover{
    color: red;
}

.menu:hover{
    background-color: yellow;
    color: black;
    border-radius: 5px;
}
header {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    min-height: 150px;
    margin-left: 5em;
    margin-right: 5em;
}

main h2, p{
    font-weight: bold;
    font-size: 55px;
    margin: 20px;
}

img.fundo {
    min-width:100%;
    max-height: 800px;
    object-fit: scaledown;
}

#header-page{display: flex;}

figure{margin: 0; display: grid;}

a{text-decoration: none;}

section{
    color: antiquewhite;
    display: grid;
    min-height: 500px;
    align-content: center;
    background:
linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
background-color: #131313;
background-size: 20px 20px;
}

#pre-definidas {
    color: darkturquoise;
}

#pre-definidas:hover{
    background-color: darkturquoise;
    color: black;
}

#current-color {
    color: greenyellow;
    border: 5px solid currentcolor;
}

#current-color:hover{
    background-color: greenyellow;
    color: black;
    padding: 5px;
}

#rgb {
    color: rgb(70, 155, 50 );
    background-color: rgb(0, 255, 0);
}

#rgb:hover{
    color: wheat;
    background-color: rgb(70, 155, 50 );
}

#rgba{
    color: rgba(190, 50, 250, 1.0);
}

#rgba:hover{
    color: wheat;
    background-color: rgba(190, 50, 250, 0.5);
}

#hex{
    color: #FF5500;
}

#hex:hover{
    color: black;
    background-color: #FF5500;
}

#hex-transparencia{
    color: #698920FF;
}

#hex-transparencia:hover{
    background-color: #69892050;
    color: wheat;
}

#hsl{
    color: hsl(180, 90%, 50%);
}

#hsl:hover{
    color: black;
    background-color: hsl(180, 90%, 50%);
}

#hsla{
    color: hsla(240, 50%, 50%, 0.8);
}

#hsla:hover{
    color: hsla(240, 50%, 50%, 1.0);
    background-color: hsla(240, 50%, 50%, 0.4);
}

main div {
    width: 500px;
    height: 400px;
    background-image: url('https://pixlr.com/images/index/ai-image-generator-one.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: auto;
}

code {
    font-size: 20px;
}