body{
    background-color: black;
    margin: 0;
}
.title{color: white;}
strong{color: yellow;}

.menu {
    color: yellow;
    padding: 15px;
}

.title:hover{
    color: red;
}

.menu:hover{
    background-color: yellow;
    color: black;
    border-radius: 5px;
}
header {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    min-height: 150px;
    margin-left: 5em;
    margin-right: 5em;
}

main h2, p{
    font-weight: bold;
    font-size: 55px;
    margin: 20px;
}

img.fundo {
    min-width:100%;
    max-height: 800px;
    object-fit: scaledown;
}

#header-page{display: flex;}

figure{margin: 0; display: grid;}

a{text-decoration: none;}

section{
    color: antiquewhite;
    min-height: 500px;
    align-content: center;
    background-color:black;
background-image:
radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
    min-width: 100%;
}

#pre-definidas {
    color: darkturquoise;
}

#current-color {
    color: greenyellow;
    border: 5px solid currentcolor;
}

#current-color:hover{
    background-color: greenyellow;
    color: black;
}

#rgb {
    color: rgb(70, 155, 50 );
    background-color: rgb(0, 255, 0);
}

#rgba{
    color: rgba(190, 50, 250, 0.5);
}

#hex{
    color: #FF5500;
}

#hex-transparencia{
    color: #69892050;
}

#hsl{
    color: hsl(180, 90%, 50%);
}

#hsla{
    color: hsla(240, 50%, 50%, 0.8);
}

main div {
    width: 800px;
    height: 700px;
    border: 5px solid red;
    background:
radial-gradient(hsl(0, 100%, 27%) 4%, hsl(0, 100%, 18%) 9%, hsla(0, 100%, 20%, 0) 9%) 0 0,
radial-gradient(hsl(0, 100%, 27%) 4%, hsl(0, 100%, 18%) 8%, hsla(0, 100%, 20%, 0) 10%) 50px 50px,
radial-gradient(hsla(0, 100%, 30%, 0.8) 20%, hsla(0, 100%, 20%, 0)) 50px 0,
radial-gradient(hsla(0, 100%, 30%, 0.8) 20%, hsla(0, 100%, 20%, 0)) 0 50px,
radial-gradient(hsla(0, 100%, 20%, 1) 35%, hsla(0, 100%, 20%, 0) 60%) 50px 0,
radial-gradient(hsla(0, 100%, 20%, 1) 35%, hsla(0, 100%, 20%, 0) 60%) 100px 50px,
radial-gradient(hsla(0, 100%, 15%, 0.7), hsla(0, 100%, 20%, 0)) 0 0,
radial-gradient(hsla(0, 100%, 15%, 0.7), hsla(0, 100%, 20%, 0)) 50px 50px,
linear-gradient(45deg, hsla(0, 100%, 20%, 0) 49%, hsla(0, 100%, 0%, 1) 50%, hsla(0, 100%, 20%, 0) 70%) 0 0,
linear-gradient(-45deg, hsla(0, 100%, 20%, 0) 49%, hsla(0, 100%, 0%, 1) 50%, hsla(0, 100%, 20%, 0) 70%) 0 0;
background-color: #300;
background-size: 100px 100px;
}

#repeat{
    background-repeat: repeat;
    background-size: 120px;
}

#repeat-x{
    background-repeat: repeat-x;
    background-size: 200px 300px;
}

#repeat-y{
    background-repeat: repeat-y;
    background-size: 200px 300px;
}

#space{
    background-repeat: space;
    background-size: 500px 300px;
}

#round{
    background-repeat: round;
    background-size: 500px 300px;
}

#no-repeat{
    background-repeat: no-repeat;
    background-position: center 50px;
}